body {
  // background-color: black;
  color: white;
}
.blinder {
  flex: 1;
  background: #dfdfdf;
  transform-origin: top;
}
//? about button - Intro.jsx
.about-btn {
  overflow: visible;
}

.right-arrow {
  transition: transform 0.3s ease-in-out;
}
.about-btn:hover > .right-arrow > .path {
  transform: translateX(8px);
  color: black;
}

//? projects button - Home.jsx
.projects-btn-arrow {
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 50%;
}
.projects-btn-circle {
  transition: all 0.3s ease-in-out;
}
.projects-btn {
  transition: all 0.3s ease-in-out;
  &:hover .projects-btn-ball {
    .projects-btn-arrow {
      transform: rotate(45deg);
    }
  }
}

