// Projects Btn
.projectsBtn:hover {
  .projectsBall {
    transition: all 0.3s ease-in-out;
    border-color: white;
    background-color: white;

    .projectsArrowsContainer {
      transition: all 0.3s ease-in-out;
      transform: translateX(32px);
    }
  }
}

/* Menu */
.menuIcon {
  div {
    transition: width 0.3s ease-out;
  }
  &:hover {
    transform-origin: right;
    
    div:nth-child(1) {
      width: 1.7rem;
    }
    div:nth-child(2) {
      width: 0.8rem;
    }
  }
}


/* Navigation Overlay */
.close-icon {
  flex: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.menuItems {
  font-size: 20rem;
}

.menuItem {
  clip-path: polygon(100% 0, 100% 78%, 92% 100%, 0% 100%, 0 57%, 0% 0%);
}

.menuItemPageNumber {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: -3rem;
}