//? about button - Intro.jsx file

.arrowPath {
  transition: transform 0.3s ease-in-out;
}
.aboutBtn {
  &:hover {
    .rightArrow .arrowPath {
      transform: translateX(8px);
      color: black;
    }
  }
}
